:root {
    --font-family: "abhaya", sans-serif; 
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Barcode 39 Text';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/abhaya-libre-2.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }