@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*    { box-sizing: border-box;  }


html {
    font-family: "Oswald";
    font-size: normal ;
    
}

@font-face {
    font-family: "abh";
    src: url("./fonts/abh.ttf");
  }

  body {
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    width: 1920px ;
    height: 1080px ;
    color: #000000;
    background: radial-gradient(rgb(255, 210, 0), black);
    
}

h1 {
     
    font-family: "Oswald";
}

.money {
    background: red;
    display: flex;
    position: relative;
    width:20%;
    height:20%;
    left: 70%;
}

.money-text {
    margin: 0;
    padding: 0;
    left: 0%;
    bottom: 100%;
}

.money-logo { 
    position: absolute;
    left: -25%;
    bottom: -20% ;
    margin: 0;
    padding: 0;
}

#counter {
   position: absolute;
   font-size: 32px;
   left: 40%;
   bottom: 40%;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button {
    position: relative;
    background: blue;
    width: 40%;
    height:50%;
    left: 30%;
    bottom: -10%;
}

input {
    display: block ;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 30%;
    bottom: 40%;

}

.image-button:hover {
    opacity: 0.8;
  }

  
  .image-button:active {
    transform: scale(1);
  }

  .button-text {
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 48px;
    left: 40% ;
    bottom: 25% ;
  } 

  .slogan { 
    position: absolute ;
    margin: 0;
    padding: 0;
    left: 15%;
    bottom: 10%;
    
}


#button:active {
	box-shadow: 0 -3px var(--color),
                3px 0 var(--color),
                0 3px var(--color),
                -3px 0 var(--color),
                0 -6px var(--border-color),
                3px -3px var(--border-color),
                6px 0 var(--border-color),
                0 6px var(--border-color),
                -3px 3px var(--border-color),
                -6px 0 var(--border-color),
                -3px -3px var(--border-color),
                3px 3px var(--border-color),
                0px 6px var(--shadow-color),
                3px 3px var(--shadow-color),
                6px 0px var(--shadow-color),
                0px 6px var(--shadow-color),
                -3px 3px var(--shadow-color),
                -6px 0px var(--shadow-color);
}




 /*@media (min-width: 320px) and (max-width: 400px) {
   body {
    max-width: 450px;
    max-height: 1000px ;
   }

   #button {
    width: 250px; 
    height: 250px;
    left: 140px;
    bottom: -350px;
   }

   .button-text {
    font-size: 32px;
    left: -45px;
    bottom: -600px;
   }

   .money-logo {
    left: -100px;
    bottom:-100px;
   }

   .money-text {
    font-size: 32px;
    left: 200px;
    bottom: 800px;
   }

   .slogan {
    word-wrap: break-word;
    font-size: 16px;
    left: 50px;
    bottom: 650px;

   }

   #display,
#counter {
    left: 150px;
    bottom: 1100px;
   font-size: 24px;
}
}

@media (min-width: 400px) and (max-width: 500px) {
    body {
     max-width: 550px; 
     max-height: 1000px ;
    }
 
    #button {
     width: 250px; 
     height: 250px;
     left: 140px;
     bottom: -350px;
    }
 
    .button-text {
     font-size: 32px;
     left: -45px;
     bottom: -600px;
    }
 
    .money-logo {
     left: -140px;
     bottom:-100px;
    }
 
    .money-text {
     font-size: 32px;
     left: 170px;
     bottom: 800px;
    }
 
    .slogan {
     font-size: 16px;
     left: 25px;
     bottom: 50px;
 
    }
 
    #display,
 #counter {
     
 }
 }